@{
    Page.Title = "Account Management";
    Layout = "~/Admin/_AdminLayout.cshtml";

    var mode = Account.Mode;

    if (!WebUser.HasRole(UserRoles.Admin))
    {
        Response.Redirect("~/Admin/");
    }
}

@if (!mode.IsEmpty())
{
    var account = Account.Current;
    var roles = RoleRepository.GetAll();
    var rolesForUser = WebUser.GetRolesForUser((int)account.Id);

    <div>
        <form name="account" method="post" action="~/Admin/account.ashx">
            @AntiForgery.GetHtml();
            <input type="hidden" name="mode" value="@mode" />
            <input type="hidden" name="accountId" value="@account.Id" />
            <p>User: <input type="text" name="accountName" value="@account.UserName" /></p>
            <p>Password: <input type="password" name="accountPassword1" value="" /></p>
            <p>Password: <input type="password" name="accountPassword2" value="" /></p>
            <p>Email: <input type="email" name="accountEmail" value="@account.Email" /></p>
            <p>
                <select name="accountRoles" multiple>
                    @foreach (var role in roles)
                    {
                        <option value="@role.Id" selected="@rolesForUser.Contains((string)role.Name)">@role.Name</option>
                    }
                </select>
            </p>
            <p><input type="submit" name="accountSubmit" value="Submit" /></p>
        </form>
    </div>
}
else
{
    @*<p>This should display a list of post.</p>*@
    <p><a href="~/Admin/Account/new/">Create New User Account</a></p>
    var grid = new WebGrid(
            source: AccountRepository.GetAll(orderBy: "UserName"),
            rowsPerPage: 5
        );

    @grid.GetHtml(
        columns: grid.Columns(
            grid.Column(format:@<a href="~/Admin/Account/edit/@item.UserName">Edit</a>),
            grid.Column(format:@<a href="~/Admin/Account/delete/@item.UserName">Delete</a>),
            grid.Column("UserName", header: "User Name"),
            grid.Column("Email", header: "Email Address")
        )
    );
}