@{
    Page.Title = "Tag Management";
    Layout = "~/Admin/_AdminLayout.cshtml";

    var mode = Tag.Mode;

    if (!WebUser.HasRole(UserRoles.Admin) && !WebUser.HasRole(UserRoles.Editor))
    {
        Response.Redirect("~/Admin/");
    }
}

@if (!mode.IsEmpty())
{
    var tag = Tag.Current;

    <div>
        <form name="tag" method="post" action="~/Admin/tag.ashx">
            @AntiForgery.GetHtml();
            <input type="hidden" name="mode" value="@mode" />
            <input type="hidden" name="tagId" value="@tag.Id" />
            <p>Name: <input type="text" name="tagName" value="@tag.Name" /></p>
            <p>Url Friendly Name: <input type="text" name="tagUrlFriendlyName" value="@tag.UrlFriendlyName" /></p>
            <p><input type="submit" name="tagSubmit" value="Submit" /></p>
        </form>
    </div>
}
else
{
    <p><a href="~/Admin/Tag/new/">Create New Tag</a></p>
    var grid = new WebGrid(
            source: TagRepository.GetAll(orderBy: "Name"),
            rowsPerPage: 5
        );

        @grid.GetHtml(
        columns: grid.Columns(
            grid.Column(format: @<a href="~/Admin/Tag/edit/@item.UrlFriendlyName">Edit</a>),
            grid.Column(format:@<a href="~/Admin/Tag/delete/@item.UrlFriendlyName">Delete</a>),
            grid.Column("Name"),
            grid.Column("UrlFriendlyName", header: "Url Friendly Name")
            )
        );
}